.sidenav-container {
  height: 100%;
}

.mat-toolbar.mat-primary.dark {
  background: #8064ee;
  color: #fff;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
