.games {
    display: flex;
    flex-wrap: wrap;

    img {
        float: left;
        margin: 10px;
    }

    &_item {
        max-width: 45%;
        margin: 10px;
        min-width: 300px;
    }

    &_info {
        display: flex;
        align-items: center;
    }
}